.sidebar {
      width: 280px;
      background-color: #343a40;
      color: white;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      padding: 1rem;
      overflow-y: auto;
    }

.main-content {
      width: calc(100% - 280px);
      min-height: 100vh;
      display: flex;
      flex-direction: column;
    }

body{
    background-color: ghostwhite;
}

